{{- $fullUserName := promptStringOnce . "fullUserName" "Full user name" -}}
{{- $linuxUserName:= promptStringOnce . "linuxUserName" "Linux user name" -}}
{{- $userEmail := promptStringOnce . "userEmail" "User's email address" -}}
{{- $workstationHostname:= promptStringOnce . "workstationHostname" "Workstation hostname" -}}
{{- $rootLuksVolume:= promptStringOnce . "rootLuksVolume" "UUID of the luks-volume with //" -}}

[data]
  fullUserName = {{ $fullUserName | quote }}
  linuxUserName = {{ $linuxUserName | quote }}
  userEmail = {{ $userEmail | quote }}
  workstationHostname = {{ $workstationHostname | quote }}
  rootLuksVolume = {{ $rootLuksVolume | quote }}
