#!/usr/bin/env bash

# Trigger script when configuration.nix.tmpl or flake.nix.tmpl changed
# dot_config/nixos/configuration.nix.tmpl hash: {{ include "dot_config/nixos/configuration.nix.tmpl" | sha256sum }}
# dot_config/nixos/flake.nix.tmpl hash: {{ include "dot_config/nixos/flake.nix.tmpl" | sha256sum }}

if [ ! -f $HOME/.config/hypr/modules/monitors.conf ]; then
  ln -s $HOME/.config/hypr/modules/monitors-fallback.conf $HOME/.config/hypr/modules/monitors.conf
  hyprctl reload
fi
