{
  description = "Marcin's Linux powered by NIX OS";

  inputs = {
    nixpkgs.url = "nixpkgs/nixos-unstable";
  };

  outputs = { self, nixpkgs, ... }: {
    nixosConfigurations.{{ .workstationHostname }} = nixpkgs.lib.nixosSystem {
      system = "x86_64-linux";
      modules = [
        ./configuration.nix
      ];
    };
  };
}

# vim: set tabstop=2 shiftwidth=2 expandtab :
