{
  description = "Marcin's Linux powered by NIX OS";

  inputs = {
    nixpkgs.url = "nixpkgs/nixos-unstable";
    mangowm = {
      url = "github:mangowm/mango";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs = inputs@{ nixpkgs, home-manager, mangowm, ...}: {
    nixosConfigurations = {
      {{ .workstationHostname }} = nixpkgs.lib.nixosSystem {
         modules = [
         ./configuration.nix
         mangowm.nixosModules.mango
         home-manager.nixosModules.home-manager
         {
           home-manager = {
            useGlobalPkgs = true;
            useUserPackages = true;
            };
         }
        ];
      };
    };
  };
}

# vim: set tabstop=2 shiftwidth=2 expandtab :
